@import "tailwindcss";
@import "flowbite/src/themes/default";
* {
  box-sizing: border-box;
  text-decoration: none;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #0e0d0d;
  color: white;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

/* LatestCollection CSS */
.item-card-wrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  width: fit-content;
}

.vertical-name {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-align: center;
  margin-right: 10px;
  font-weight: bold;
}

.card-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .card-main-content img{
  border-radius: 10px;
} */

.cart-icon {
  padding: 1px 6px;
}

.marquee-container {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-left 20s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* ===== Scrollbar Styles (WebKit Browsers) ===== */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* medium gray */
  border-radius: 50px;     /* makes the thumb round */
  border: 2px solid transparent;
  background-clip: content-box;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* darker gray on hover */
}

/* ===== Scrollbar Styles (Firefox) ===== */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 transparent;
}
