  .collection {
    display: flex;
    padding: 20px;
    gap: 20px;
    padding-top: 50px;
  }
  /* .collection-page{
  } */
  .search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
  }

  .searchbar {
    display: flex;
    width: 30rem;
    height: 44px;
    padding: 5px 8px 0 14px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #ffffff;
  }


  .searchbar-wrapper {
    display: flex;
    flex: 1;
  }

  .searchbar-center {
    display: flex;
    flex: 1;
  }

  .searchbar-input {
    flex: 1;
    height: 34px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff; /* white text */
  }

  /* Remove blue outline on focus (Chrome/Edge/Firefox) */
  .searchbar-input:focus {
    outline: none;
    box-shadow: none;
  }

  .searchbar-right {
    display: flex;
    align-items: center;
  }

  .search-icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 6px;
    margin-right: 5px;
  }

  .searchbar-icon {
    width: 24px;
    height: 24px;
    fill: white;
  }

  .collection-left {
    width: 15rem;
    padding: 20px;
    border-radius: 10px;
    position: fixed;
  }

  .category-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }

  .category-item {
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .category-item:hover,
  .category-item.active {
    background-color: #000;
    color: #fff;
  }

  .collection-right {
    flex: 1;
    margin-left: 15rem;
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  @media screen and (max-width: 900px) {
    .product-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media screen and (max-width: 600px) {
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
