.footer {
  height: 35vh;
  background-color: #ffffff;
  color: rgb(14, 13, 13);
  padding: 20px;
  padding-left: 100px;
  margin-top: 40px;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin-left: 8vw;
}

.footer-links div {
  font-size: 0.9rem;
  transition: color 0.2s;
  font-weight: 500;
}
.footer-links a{
  cursor: pointer;
  font-weight: 500;
}
.footer-header {
  font-weight: bold !important;
  font-size: 1.2rem !important;
}
