.marquee-container {
  margin-top: 50px;
  background-color: white;
  padding: 8px 0;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
}

.marquee-track {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 20s linear infinite;
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  font-weight: bold;
  color: rgb(14, 13, 13);
  font-size: 1.2rem;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
