.placeorder {
  width: 85%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  padding-top: 70px;
}


.order-left {
  width: 70%;
  padding: 20px;
  border-radius: 8px;
}

.order-left h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.address-type-options {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.type-btn {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.type-btn.selected {
  border: 2px solid #000;
}

.save-address-btn {
  margin-top: 20px;
  padding: 10px;
  background-color: #212121;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
}
.payment-options {
  display: flex;
  gap: 2rem;
  margin-top: 8px;
}

.payment-options label {
  font-weight: 500;
  cursor: pointer;
}
.payment-options input[type="radio"] {
  margin-right: 8px;
  border-radius: 10px;
}