.product {
  width: 80%;
  display: flex;
  margin-top: 5rem !important;
  margin: auto;
  gap: 2rem;
}
.product-left {
  width: 55%;
  height: 100%;
  display: flex;
}
.product-left {
  flex: 1;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1rem;
}

.grid-image {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.product-right {
  width: 45%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: start;
}

.current-price {
  font-size: 1.8rem;
  font-weight: bold;
}

.original-price {
  font-size: 1rem;
  color: #888;
  text-decoration: line-through;
  margin-top: 0.25rem;
}

.discount-rate {
  font-size: 0.9rem;
  color: #ff2626;
  font-weight: 600;
  margin-top: 0.25rem;
}
.add-to-cart {
  background-color: white;
  color: rgb(14, 13, 13);
  padding: 8px;
  border-radius: 50px;
  font-weight: bold;
  margin-top: 20px;
}
.size-buttons {
  display: grid;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  grid-template-columns: repeat(8, 1fr); /* 2 columns */
}
.size-button {
  padding: 7px 8px;
  display: flex;
  border-radius: 50px;
  border: 2px solid rgba(255, 255, 255, 0.332);
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease;
}

.size-button:hover {
  border: 1px solid rgb(255, 255, 255);
}
.size-button.selected {
  border: 2px solid rgb(255, 255, 255);
  font-weight: 500;
}
.product-qauntity{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 20px;
}
.product-qauntity input{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    color: white;
    text-align: center;
}

.delivery-location{
  width: 100%;
}
.delivery-location input{
  width: 85%;
  padding: 10px 0px;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid rgb(255, 255, 255);
  background-color: transparent;
  color: white;
  padding-left: 10px;
}